


/*****************************************/
/*                                       */
/* CHANGE IMAGE LINKS TO #000           */
/*                                       */
/*Contact us body font to Haettenschweile*/
/*                                       */
/*                                       */
/*****************************************/

/*   body   */
body{
    margin: 0% auto;
    font-family: Haettenschweile;
    background: #FFF;
}

body p {
    color: #000;
}

body .btn {
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

body .btn:hover {
    border-color: #000;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}


/*************************/
div {
    padding: 5px;
}

/***  Navigation  Bar  ***/
.navbar {
    background-color: #000;
    overflow: visible;
}

.navbar ul{
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: #000;
}

.navbar a{
    color: #FFF;
    text-align:start;
    margin: 5px 4px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: #000;
    color: #FFF;
}

.navbar .btn {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

.navbar i {
    padding: 1px 1px;
}

.navbar .dropdown-menu {
    cursor: pointer;
    margin: 48%;
    margin-top: 0%;
}



/*****   Carousel   *****/
#carouselExampleInterval img{
    display: block;
    width: 685px;
    margin-right: auto;
    margin-left: auto;
}
/* Style the button and place it in the middle of the container/image */
.img-overlay .btn {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .img-overlay .btn:hover {
    background-color: #FFF;
    color: #000;
  }


/*****   Heading   *****/
.Heading {
    float: center;
    font-family: onyx;
    text-align: center;
    color: #000;
}

.Heading .btn{
    border-color: #000;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}

.Heading .btn:hover {
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

.gallery h3 {
    text-align: center;
    color: #000;
}

.gallery button {
    border-color: #000;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}

.gallery button:hover {
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

/*******   Card   *******/
.card {
    background-color: #FFF;
    color: darkgrey;
    border: 0;
}

.card .card-img-top:hover {
    opacity: .7;
}

.card .card-link {
    text-align: center;
    color: #000;
}


.FOOT {
    color: darkgrey;
}

.FOOT a{
    color: darkgrey;
}

.FOOT .nav-link {
    color: darkgrey;
}

.FOOT .btn {
    color: #FFF;
    background: #000;
}
/*************************/


/*********************************       CONTACT US HTML DOC       **************************************/

.contact_Form {
    color: #FFF;
    float: center;
}

.contact_Form .col-5{
    margin-left: 30%;
    padding-left: 1%;
    padding-right: 1%;
}

/*********************************    CREATE ACCOUNT DOC           **************************************/

.accountCreate form{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 1%;
    padding-right: 1%;
}

.reviewform form{
    margin-left: 35%;
    padding-left: 1%;
    padding-right: 1%;
}

/*********************************       CART CHECK OUT            **************************************/

.shopping-cart .title{
    margin-bottom: 5vh;
}
.shopping-cart{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .shopping-cart{
        margin: 3vh auto;
    }
}
.shopping-cart .cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .shopping-cart .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.shopping-cart .summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .shopping-cart .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.shopping-cart .summary .col-2{
    padding: 0;
}
.shopping-cart .summary .col-10
{
    padding: 0;
}.shopping-cart .row{
    margin: 0;
}
.shopping-cart .title b{
    font-size: 1.5rem;
}
.shopping-cart .main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.shopping-cart .col-2, .col{
    padding: 0 1vh;
}
.shopping-cart a{
    padding: 0 1vh;
}
.shopping-cart .close{
    margin-left: auto;
    font-size: 0.7rem;
}
.shopping-cart img{
    width: 3.5rem;
}
.shopping-cart .back-to-shop{
    margin-top: 4.5rem;
}
.shopping-cart h5{
    margin-top: 4vh;
}
.shopping-cart hr{
    margin-top: 1.25rem;
}
.shopping-cart form{
    padding: 2vh 0;
}
.shopping-cart select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.shopping-cart input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.shopping-cart input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.shopping-cart .btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.shopping-cart .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.shopping-cart .btn:hover{
    color: white;
}
.shopping-cart a{
    color: black; 
}
.shopping-cart a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}