:root {
  --text-card: #1d3557;
  --text-project: #352E19;
  --text-navigation: #160500;
  --background-navigation: #FFB16E;
  --background-card: #bde0fe;
  --background-body:  #FCF5CF;
  --background-body-card: #F8E1A0;
  --background-card-panel: #D8E9EE;
  --background-navigation-panel: #ffd199;
  --background-body-panel: #FCF0CF; 
  --shadow-navigation: #be550f;
  --shadow-card: #457b9d;
  --shadow-body: #EAB315;
  --font-family-btns: 'dotGothic16', sans-serif;
  --font-family-heading: 'Press Start 2P', system-ui;
  --font-family-body: 'Share Tech Mono', monospace;
}
/* Cream Palette: #EAB315, #EFC343, #F4D271, #F8E1A0, #FCF0CF */


/* FIX THE PADDING ON THE NAVIGATION BUTTON ON MOBILE */
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-style: normal;
}
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  position: relative;
  background-color: var(--background-body);
  font-family: var(--font-family-body);
  display: block; /* change from flex to block */
  height: 100%;
  margin: 0;
  width: 100%;
}

h1 {
  font-family: var(--font-family-heading);
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}


h2 {
  background-color: var(--background-card);
  border-radius: 5px;
  padding: 10px;
  border-width: 3px;
  border-style: solid; 
  width: fit-content;
  font-family: var(--font-family-heading);
  font-size: 14px;
  text-align: center;
 }

h3 {
  text-align: center;
  padding-bottom: 5px;
}

p {
  text-align: center;
}

a, 
a[href] {
  font-family: var(--font-family-btns) !important;
  text-decoration: none;
}

.card h2 {
  background-color: var(--background-card-panel);
  border-color: #457b9d;
}

.chill-btn {
  /* Layout & Typography */
  position: relative;
  padding: 12px 24px;
  font-size: 1.1rem;
  font-family: var(--font-family-btns);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 5px;
  
  /* Chill Colors & 3D Shadow */
  background: #a8dadc; /* Soft Mint */
  color: var(--text-card);
  box-shadow: 0 6px var(--shadow-card); /* Darker blue "depth" */
  
  /* Smooth Animation */
  transition: all 0.2s ease;
  outline: none;
}

.chill-btn:hover {
  background: #B6E2D3; /* Slightly brighter on hover */
  transform: translateY(2px);
  box-shadow: 0 4px var(--shadow-card);
}

.navigation-btn {
  /* Layout & Typography */
  position: relative;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-family: var(--font-family-btns);
  cursor: pointer;
  border-radius: 8px; /*  more boxy/retro */
  border: 2px solid var(--shadow-navigation);
  font-weight: bold;
  letter-spacing: 0.5px;
  
  background: #ff7518; /* Soft Mint */
  color: var(--text-card);
  box-shadow: 0 6px var(--shadow-navigation); /* Darker blue "depth" */
  transition: all 0.2s ease;
  outline: none;
}
.navigation-btn:hover {
  background: #ff9459; /* Slightly brighter on hover */
  transform: translateY(2px);
  box-shadow: 0 4px var(--shadow-navigation);
}

.body-btn {
  /* Layout & Typography */
  position: relative;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-family: var(--font-family-btns);
  cursor: pointer;
  border-radius: 8px; /*  more boxy/retro */
  border: 2px solid var(--shadow-body);
  font-weight: bold;
  letter-spacing: 0.5px;
  
  /* Chill Colors & 3D Shadow */
  background: #EFC343; /*#b08c5e; */
  color: var(--text-card);
  box-shadow: 0 6px var(--shadow-body); /* Darker blue "depth" */
  
  /* Smooth Animation */
  transition: all 0.2s ease;
  outline: none;
}

.body-btn:hover {
  background: #F4D271; /*#d7c09a; */
  transform: translateY(2px);
  box-shadow: 0 4px var(--shadow-body);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.nav-container {
  display: flex;
  width: 100%;
}

.nav-links {
  margin: auto;
  padding: auto;
  justify-content: space-between;
}

.navbar {
  position: relative;
  flex: 0 0 auto;
  background-color: var(--background-navigation);
  color: var(--text-navigation);
  width: 100%;
  height: 75px;
  padding: 0;
  border-bottom: 3px solid var(--shadow-navigation);
  border-top: 3px solid #ffd199;
  font-family: var(--font-family-heading);
}

.navbar a {
  color: var(--text-navigation)
}

#about-me-container {
  display: flex;
}

.about-me-sidebar-desktop {
   /* ADDING MARGIN HIDES THIS DIV */
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: start;
  height: fit-content;
  padding: 10px;
  background-color: var(--background-body-card);
  border: 3px solid var(--shadow-body);
  border-radius: 8px;
}

.about-me-sidebar-desktop h2{
  background-color: var(--background-body-panel);
  border-color: var(--shadow-body);
}


.about-me-links {
  display: flex;
  flex-direction: column;
  align-items: start;
} 

.about-me-links a {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px;
  width: 155px;
} 

.about-me-main-content {
  /* display: flex; // this introduces a UI bug where width = fit-content for cards*/
  flex-direction: column;
  flex: 1 1 auto;
}

.bio-container {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
}

#pfpImage {
  max-width: 200px;
  width: auto;
  max-height: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover; ; /* cap the size on mobile */
  margin: auto;
}

.bio-intro {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}

.bio-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 500px;
}

.card {
  background-color: var(--background-card);
  color: var(--text-card);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 20px auto;
  box-shadow:0 10px #457b9d;
}

.img-overlay {
  position: absolute;
  z-index: 100;
}


/* Base styles for the responsive iframe container */
.responsive-iframe-container {
  position: relative; /* Essential for positioning the iframe inside */
  display: flex;
  width: 100%; /* By default, take full width of its parent (.card) */
  height: 350px;
}

/* Styles for the iframe itself within the container */
.responsive-iframe-item {
  position: absolute; /* Position relative to .responsive-iframe-container */
  margin: auto;
  padding: auto;
  width: 100%; /* Fill the entire container */
  height: 100%; /* Fill the entire container */
  border: 0; /* Remove default iframe border */
}

/* Default state for hamburger: Hidden (for screens wider than 768px) */
#hamburger {
  display: none !important; /* */
}

.Nav-button {
  display: none; /* Hide the nav button by default */
}

/*    MEDIA QUERIES REGARDING NAVBAR, HAMBURGER, SIDEBAR  */

/* Media query for screens 768px and narrower*/
@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    background-color: var(--background-body-card);
    box-shadow: 0 6px var(--shadow-body) !important;
    margin: 10px;
    padding: 10px;
    padding-bottom: 15px;
    font-family: #160500;
    border: none;
  }
  .min769 {
    display: none !important;
  }

  .navbar .mobile {
    background-color: var(--background-navigation);
    align-items: center;
  }

  .calibration-nav-desktop {
    display: none !important;
  }

  .Nav-button {
    display: block; /* Show the nav button on smaller screens */
    flex: 1;
    padding: 0 15px;
    font-family: #160500;
  }

  .navigation-btn {
  font-family: var(--text-navigation);
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px auto;
  }
  
  .card img {
    max-width: auto; /* Image width for 16:9 screens */
    height: 200px; /* Maintain aspect ratio */
  }
  .card .responsive-iframe-container {
    width: 350px;
    height: 325px; /* Maintain aspect ratio */
    justify-content: center;
    align-items: center;
  }
  .card .responsive-iframe-item {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 350px;
  }

  #pfpImage {
    max-width: 200px;
  width: auto;
  max-height: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover; ; /* cap the size on mobile */
  }

  .about-me-sidebar-desktop {
    display: none;
  }

.mobile-about-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-navigation);
  box-shadow: var(--shadow-navigation);
  width: 100%;
  height: 75px;
}
.mobile-about-nav-container .navbar {
  width: auto;
  height: auto;
  background-color: transparent;
  flex: 0 0 auto;
  box-shadow: var(--shadow-navigation);
}

  #hamburger {
    display: flex !important;
    align-items: center;
    padding: 0 15px;
  }
  /* THIS IS NOT A SOLID FiX LOOK AT POTENTIALLY MAKING YOUR OWN DROP MENU IF BOOTSTRAPS
  IS NOT WORKING WITH THE LAYOUT */
  #hamburger .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    position: fixed !important;
    margin: 0 !important; 
    top: 75px !important;
  }

  .burMenu {
    right: 0;
  }

  /* Hide the sidebar column within the row */
  .row > .col-2 {
    display: none !important;
  }
  /* Make the content column take full width */
  .row > .col-10 {
    width: 100% !important; /* Force full width */
    flex: 0 0 100% !important; /* Override Bootstrap's flex-basis */
    max-width: 100% !important; /* Ensure max-width doesn't constrain */
  }
}

/* Media query for screens above 768px (desktop/tablet landscape) */
@media (min-width: 769px) {
  .mobile {
    display: none !important;
  }

  .mobile-about-nav-container {
    display: none !important;
  }

  .min769 .container-fluid {
    padding: 0 auto;
    margin: auto;
  }

  .container-fluid h1 {
  background-color: var(--background-navigation-panel);
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  border: 3px solid #be550f;
  width: fit-content
 }


.container-fluid a {
  padding: auto;
  margin: 0 15px;
}

  #index-container {
  position: relative;
  height: calc(100% - 75px);
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .card {
    max-width: 700px;
  }

  /* Ensure the hamburger is hidden on larger screens */
  #hamburger {
    display: none !important;
  }

}

/* Styles for screens with a 16:9 aspect ratio (and wider), primarily for card/image sizing */
@media only screen and (min-width: 1024px) {
  
  .card {
    width: 700px; /* Card width for 16:9 screens */
  }

  .card img {
    width: 525px; /* Image width for 16:9 screens */
    height: auto; /* Maintain aspect ratio */
  }
}
/*smaller breakpoint for very narrow mobile devices */
@media only screen and (max-width: 480px) {
  body {
    background-color: var(--background-body);
    color: var(--text-project);
  }
  .card {
    width: 95vw; /* Make it slightly wider to fill more space */
    height: auto;
    margin: 20px auto;
  }
}
